<Layouts.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="text-4xl">
      Example Page
    </h1>
    <p class="text-base">
      This is an example page that uses the default Phoenix layout. It includes the navigation header, 
      main content area, and all the standard layout features.
    </p>
    <.link href={~p"/"} class="btn">
      Go to Home
    </.link>
  </div>
</div>
